@model System.Collections.IEnumerable

@Html.Partial("EmployeePartialView", Model)

@*@model IEnumerable<DevExpressDemo.Data.Models.Employee>*@
@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEducation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeOpus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEducation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeOpus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>*@
